.card {
  background: $card-background;
  color: $font-color;
  padding: 1rem;

  margin-bottom: 1rem; 

  @include card(1);
}

.calculator--input {
  height: 3rem;
  padding: 0.25rem 1rem;
  background-color: darken($card-background, 5%);
}

