.card {
  max-width: 960px;
  background: $card-background-color;
  color: $font-color;
  padding: 1rem;

  margin: auto;

  margin-bottom: 1rem; 

  @include card(1);
}

.calculator {
  display: flex;
  flex-direction: column;

  &--item {
    display: flex;
    margin-bottom: 1rem;
  }

  &--input {
    height: 3rem;
    width: 100%;
    padding: 0.25rem 1rem;


    border: 2px solid transparent;
    border-image: $background-color;
    border-image-slice: 1;
  }

  &--tip {
    height: 3.4rem;
    width: 3.4rem;
    padding: 0.25rem 0.25rem;

    background: $tip-color;
    color: $card-background-color;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  &--submit {
    background-image: $background-color;
    color: $card-background-color;
  
    border-radius: 1rem;
    height: 4rem;
    width: 100px;

    margin: 0 auto;

    @include card(1);
    @include grow;
  }

  &--submit:hover {
    cursor: pointer;
    @include card(2);
  }

}



